<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>

        <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
        <link rel="stylesheet" type="text/css" href="static/css/contato.css">

        
    </head>

    <body>
        <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="listacursos">Lista de Cursos</a></li>
                        <li><a href="detalhecurso">Detalhe de Curso</a></li>
                        <li><a href="disciplina">Disciplina</a></li>
                        <li><a href="noticias">Notícias</a></li>
                        <li><a href="contato">Contato</a></li>
                    </ul>
                </nav>
                </div>
                
                    <div id="principal">
                            <!-- <div id="esquerda"></div> -->
                            <div id="conteudo-2">
                                    <div id="corpo"> 
                                        <h1>Contato</h1> 
                                            <div class="contato"> 
                                                <h3>Fale Conosco</h3>
                                                <p>SECRETARIA DE GRADUAÇÃO</br></br>

11 5593-5344</br></br>

De segunda a sexta - das 9h às 20h30</br>
Sábado - das 9h às 12h30</br></br>

COMERCIAL</br></br>

11 3254-8300</br></br>

De segunda a sexta - das 8h às 21h</br>
Sábado - das 8h às 15h</p><p>SECRETARIA DE PÓS-GRADUAÇÃO</br></br>

11 3254-8346 / 11 3254-8336</br></br>

De segunda a sexta - das 14h às 20h30</br></br>
Sábado - das 9h às 12h30</br></br>

FINANCEIRO</br>

11 5593-5392</p>
                                            </div>
                                    </div>
                                <div id="direita">
                                    <a href="https://account.impacta.edu.br/aluno/indique_um_amigo.php"><img src="static/images/banner250x300-aluno-online.jpg"></a>
                                </div>
                            </div>
                        </div>

        <!--    
        <a href="listacursos.html">Lista de Cursos</a><br>
        <a href="detalhecurso.html">Detalhe de Curso</a><br>
        <a href="disciplina.html">Disciplina</a><br>
        <a href="noticias.html">Notícias</a>
        -->

        <div class="imgMaps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1939938843425!2d-46.6516911856303!3d-23.525524066153594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a36ed390d1b%3A0x774f96e1ad521edb!2sFaculdade%20Impacta!5e0!3m2!1spt-BR!2sbr!4v1569519330336!5m2!1spt-BR!2sbr"
            width="500" height="200"frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </body>

    <footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
    </footer>
</html>