<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>

        <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
        <link rel="stylesheet" type="text/css" href="static/css/detalhecurso.css">

        
    </head>

    <body>
        <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="listacursos">Lista de Cursos</a></li>
                        <li><a href="detalhecurso">Detalhe de Curso</a></li>
                        <li><a href="disciplina">Disciplina</a></li>
                        <li><a href="noticias">Notícias</a></li>
                        <li><a href="contato">Contato</a></li>
                    </ul>
                </nav>
                </div>
                
                    <div id="principal">
                            <!-- <div id="esquerda"></div> -->
                            <div id="conteudo-2">
                                    <div id="corpo"> 
                                            <h1>Banco de Dados</h1> 
                                                <div class="detalhecurso"> 
                                                <img class="imgdetalhecurso" src="static/images/banco-de-dados-1555543002.png">
                                                    <p>O curso superior de tecnólogo em Banco de Dados tem conceito 4 na avaliação pelo MEC.<br/><br/>

                                                            Um estudo recente conduzido nos EUA mostra que Big Data Analytics vai gerar 10 milhões de oportunidades de trabalho em todo o mundo na próxima década, ou seja, as profissões na área de Big Data e Data Science são muito desafiadoras e com demanda crescente. Você já considerou construir sua carreira nessa área?<br/><br/>
                                                            
                                                            O nosso curso torna o aluno apto a propor aplicações inteligentes e análise de Big Data para resolver desafios de negócios a partir dos grandes volumes de dados disponíveis, a fim de auxiliar nos aspectos decisórios administrativos, gerenciais e financeiros de uma empresa.<br/><br/>
                                                            
                                                            O aluno desenvolve habilidade com técnicas estatísticas e mineração de dados, conhecimento de linguagem de programação com foco em aprendizado de máquina ou machine learning, experiência em trabalhar com grandes volumes de dados, assim como técnicas de modelagem de dados e administração e segurança dos dados.<br/><br/>
                                                            
                                                            Entre as funções oferecidas no mercado, estão gerente de sistemas de banco de dados, desenvolvedor de projetos e consultor de banco de dados, analista de Business Intelligence, analista de dados, analista de Big Data, gerente de Analytics, engenheiro de dados, engenheiro de Big Data, gerente de segurança de dados, administrador de banco de dados e analista de sistemas de apoio à decisão. Essas são as carreiras com maior remuneração do mercado.<br/><br/>
                                                
                                                            <h3>2º Semestre</h3>
                                                            <ul><li>Ambiente de Desenvolvimento e Operação -DevOps: 80 horas
                                                            </li><li>Análise Exploratória de Dados: 80 horas
                                                            </li><li>Desenvolvimento de Sistemas: 80 horas
                                                            </li><li>Engenharia de Software: 80 horas
                                                            </li><li>Gestão de Projetos: 40 horas
                                                            </li><li>Libras: 40 horas
                                                            </li><li>Linguagem SQL: 80 horas
                                                            </li><li>Sociedade e Sustentabilidade: 40 horas
                                                            </li><li>Subtotal: 520 horas</li></ul></p>
                                                        </div>
                                        </div>
                                <div id="direita">
                                    <a href="https://account.impacta.edu.br/aluno/indique_um_amigo.php"><img src="static/images/banner250x300-aluno-online.jpg"></a>
                                </div>
                            </div>
                        </div>
                        
    </body>

     <footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
    </footer>
</html>