<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>

        <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
        <link rel="stylesheet" type="text/css" href="static/css/disciplina.css">

        
    </head>

    <body>
        <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="listacursos">Lista de Cursos</a></li>
                        <li><a href="detalhecurso">Detalhe de Curso</a></li>
                        <li><a href="disciplina">Disciplina</a></li>
                        <li><a href="noticias">Notícias</a></li>
                        <li><a href="contato">Contato</a></li>
                    </ul>
                </nav>
                </div>
                
                    <div id="principal">
                            <!-- <div id="esquerda"></div> -->
                            <div id="conteudo-2">
                                    <div id="corpo"> 
                                        <h1>Desenvolvimento de Sistemas</h1>
                                            <div class="disciplina"> 
                                            <img class="destcurso" src="static/images/banco-de-dados-1555543002.png">
                                                <p>Conceitos e fundamentos: Internet, Intranet e Extranet. Arquitetura Cliente-Servidor. <br/><br/>Desenvolvimento de aplicações WEB Padrões Web. HTML (HyperText Markup Language) e CSS (Cascading Style Sheets). Sintaxe, comandos JavaScript e integração com HTML. Noções de NodeJS. Python e Framework de Desenvolvimento.<br/><br/>Arquitetura Model-View-Controller; a camada de acesso a banco de dados; Padrão de endereçamento http; aspetos de segurança, componentização JQuery + AJAX.</p>
                                            </div>
                                    </div>
                                <div id="direita">
                                    <a href="https://account.impacta.edu.br/aluno/indique_um_amigo.php"><img src="static/images/banner250x300-aluno-online.jpg"></a>
                                </div>
                            </div>
                        </div>

        <!--    
        <a href="listacursos.html">Lista de Cursos</a><br>
        <a href="detalhecurso.html">Detalhe de Curso</a><br>
        <a href="disciplina.html">Disciplina</a><br>
        <a href="noticias.html">Notícias</a>
        -->
    </body>

     <footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
    </footer>
</html>