<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>

        <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
        <link rel="stylesheet" type="text/css" href="static/css/listacurso.css">

        
    </head>

    <body>
        <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="listacursos">Lista de Cursos</a></li>
                        <li><a href="detalhecurso">Detalhe de Curso</a></li>
                        <li><a href="disciplina">Disciplina</a></li>
                        <li><a href="noticias">Notícias</a></li>
                        <li><a href="contato">Contato</a></li>
                    </ul>
                </nav>
                </div>
                
                <div id="principal">
                           
                    <div id="conteudo-2">
                        <div id="corpo"> 
                            <h1>Cursos de Graduação</h1> 
                                <div class="boxVerde"> 
                                    <h3>Cursos Ofertados</h3><br/>

                                    <table> 
                                        <tr>
                                            <td>Curso</td>
                                            <td>Informação</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Administração.</td>
                                            <td>Inteligência de negócios e Gestão de Projetos.</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Ciência da Computação.</td>
                                            <td>Inteligência Artificial, Análise  e Modelagem de Sistemas.</td>
                                        </tr>
                                        <tr>
                                            <td>Engenharia da Computação.</td>
                                            <td>Internet das Coisas, Automação e Robôs móveis inteligentes.</td>
                                        </tr>
                                        <tr>
                                            <td>Sistema da Informação.</td>
                                            <td>Business Agility  & Computação Cognitiva.</td>
                                        </tr>
                                    </table><br/>
                                    
                                    <h3>Tecnólogos Ofertados</h3><br/>

                                    <table> 
                                        <tr>
                                            <td>Curso</td>
                                            <td>Informação</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Análise e Desenvolvimento de Sistemas.</td>
                                            <td>IoT, DevOps e Mobeli.</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Banco de Dados.</td>
                                            <td>Data Analytics  & Big Data. </td>
                                        </tr>
                                        <tr>
                                            <td>Defesa Cibernética.</td>
                                            <td>Cyber Securuty, hacker, Tecnologiada Informação.</td>
                                        </tr>
                                        <tr>
                                            <td>Gestão de Tecnologia da informçaõ</td>
                                            <td>ERP & Gestão de Qualidade.</td>
                                        </tr>
                                    </table><br/>
                                </div><br/><br/><br/><br/><br/>
                        </div>
                       
                        <div class="imagem">  
                            <a href="https://account.impacta.edu.br/aluno/indique_um_amigo.php"><img src="static/images/financeiro.png"></a>
                        </div>
                        <div class="imagem">
                            <a href="https://www.impacta.edu.br/blog/materiais-gratuitos/"><img src="static/images/banner.materias.png"></a>
                        </div>
            </div><br/>
        </div><br/>

        
    </body>

     <footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
    </footer>
</html>
