<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>

        <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
        <link rel="stylesheet" type="text/css" href="static/css/estilonoticia.css">

        
    </head>

    <body>
        <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="listacursos">Lista de Cursos</a></li>
                        <li><a href="detalhecurso">Detalhe de Curso</a></li>
                        <li><a href="disciplina">Disciplina</a></li>
                        <li><a href="noticias">Notícias</a></li>
                        <li><a href="contato">Contato</a></li>
                    </ul>
                </nav>
                </div>
                
                    <div id="principal">
                        
                            <div id="conteudo-2">
                                    <div id="corpo"> 
                                        <h1>Mural de Notícias</h1> 
                                        <div class="noticia"> 
                                            <h2>5 dicas de como ser visto como um líder!</h2>
                                            <img class="imagem" src="static/images/noticia1.jpg">
                                           
                                            <div class="teste">
                                                <p>Não é preciso ocupar um cargo de gestão para ser visto como um líder. Mas, certamente</p>
                                                <p>desenvolver algumas habilidades por meio do marketing pessoal pode ser um fator decisivo para</p>
                                                <p>quem ambiciona uma posição de liderança.  Já percebeu que ao trabalhar formas de aprimorar o</p>
                                                <p>networking, o autoconhecimento e também explorar a qualificação pessoal, algumas pessoas…</p>
                                            </div>
                                        </div><br/>

                                        <div class="noticia"> 
                                            <h2>Comunicação visual área tão promissora?</h2>
                                            <img class="imagem" src="static/images/noticia2.jpg">
                                           
                                            <div class="teste">
                                                <p>Poucos segundos são suficientes para que alguém forme uma opinião sobre outra pessoa.</p>
                                                <p>Mas e quando falamos de empresas e negócios, isso também vale? A crescente importância</p>
                                                <p>da comunicação visual reforça como é essencial o cuidado com a estética tanto de uma companhia </p>
                                                <p>quanto de seus serviços e ofertas. Por isso, essa é uma das…</p>
                                            </div>
                                        </div><br/>
                                    </div>

                                <div id="direita">
                                    <a href="https://account.impacta.edu.br/aluno/indique_um_amigo.php"><img src="static/images/banner250x300-aluno-online.jpg"></a>
                                </div>
                            </div>
                        </div>
    </body>

    <footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
    </footer>
</html>